.home-container {
  background: url("https://favhiker-public.s3.ap-south-1.amazonaws.com/images/mario-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.home-container img {
  width: 150px;
  height: 150px;
}
